[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
bcrypt = "*"
flask-bcrypt = "*"
uwsgi = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
